extends layout

block content
  h1 Talent Bee
  p.lead A place for talent!
  hr
  .row
    .col-sm-6
      h2 Talent
      p
      p
        a.btn.btn-default(href='#', role='button') View details »      
    .col-sm-6
      h2 Scout
      p 
      p
        a.btn.btn-default(href='#', role='button') View details »
